In [3]:
import time
import json
import numpy as np
import pandas as pd
from pandas import json_normalize
import matplotlib.pyplot as plt
import json
import ast
import scipy.stats as stats
import stanza
import math

In [7]:
final_df = pd.read_csv('./final.csv')

In [22]:
final_df = final_df.drop(['Unnamed: 0'], axis = 1)
final_df

,geoNetwork.country,totals.hits,totals.pageviews,totals.timeOnSite,trafficSource.keyword,hits,NLPValue,isAnomaly,reason
0,United States,10,9.0,416.0,NaN,"[{'hitNumber': '14', 'time': '0', 'hour': '0',...",1.0,0.0,NaN
1,United States,1,1.0,0.0,(not set),"[{'hitNumber': '1', 'time': '0', 'hour': '0', ...",1.0,0.0,NaN
2,India,1,1.0,0.0,(not set),"[{'hitNumber': '1', 'time': '0', 'hour': '0', ...",1.0,0.0,NaN
3,United States,53,34.0,682.0,NaN,"[{'hitNumber': '1', 'time': '0', 'hour': '0', ...",1.0,0.0,NaN
4,Nigeria,1,1.0,0.0,(not set),"[{'hitNumber': '2', 'time': '0', 'hour': '0', ...",1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
401584,South Korea,5,4.0,45.0,(not set),"[{'hitNumber': '1', 'time': '0', 'hour': '23',...",1.0,0.0,NaN
401585,India,7,7.0,266.0,(not set),"[{'hitNumber': '1', 'time': '0', 'hour': '23',...",1.0,0.0,NaN
401586,United States,5,5.0,39.0,NaN,"[{'hitNumber': '1', 'time': '0', 'hour': '23',...",1.0,0.0,NaN
401587,Taiwan,6,4.0,157.0,(not provided),"[{'hitNumber': '1', 'time': '0', 'hour': '23',...",1.0,0.0,NaN
401588,Taiwan,1,1.0,0.0,(not provided),"[{'hitNumber': '1', 'time': '0', 'hour': '23',...",1.0,0.0,NaN

In [23]:
final_df['isAnomaly'].fillna(value = 0, inplace = True)
aomalousSessions = final_df[final_df['isAnomaly'] == 1]
len(aomalousSessions)

966

In [24]:
final_df['isAnomaly'].fillna(value = 0, inplace = True)
nonAomalousSessions = final_df[final_df['isAnomaly'] == 0]
len(nonAomalousSessions)

400623